Repository fintechstudios/ververica-platform-k8s-operator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-config, license-check

build-config:
  variables:
    GIT_STRATEGY: none
  image:
    name: $GL_IMAGE_REPO:$BUILDER_COMMIT_TAG
    entrypoint:
    - ''
  before_script:
  - cd /workspace
  stage: test
  script:
  - make kustomize-build

license-check:
  stage: test
  image: debian:stretch-slim
  before_script:
  - apt-get update
  - apt-get install -y curl
  - 'curl -H ''Cache-Control: no-cache'' https://raw.githubusercontent.com/fossas/fossa-cli/master/install.sh | bash'
  script:
  - fossa analyze --verbose
  - fossa test --verbose || (sleep 60 && exit 1)
  ...

wip
  .github/workflows/gitlab-ci-trigger.yml
  Makefile
  api/v1beta2/vpcrondeployment_types.go
  charts/vp-k8s-operator/templates/webhook-service.yaml
  charts/vp-k8s-operator/templates/webhooks.yaml
  config/crd/bases/ververicaplatform.fintechstudios.com_vpcrondeployments.yaml
  config/crd/bases/ververicaplatform.fintechstudios.com_vpdeployments.yaml
  config/rbac/role.yaml
  config/samples/ververicaplatform_v1beta2_vpcrondeployment.yaml
  controllers/vpcrondeployment_controller.go
  controllers/vpcrondeployment_controller_test.go
Due: build-config

feat(vpcrondeployment): add initial controller
  PROJECT
  api/v1beta1/groupversion_info.go
  api/v1beta1/suite_test.go
  api/v1beta1/vpdeployment_types.go
  api/v1beta1/vpdeployment_types_test.go
  api/v1beta1/vpdeployment_webhook.go
  api/v1beta1/vpdeploymenttarget_types.go
  api/v1beta1/vpdeploymenttarget_types_test.go
  api/v1beta1/vpdeploymenttarget_webhook.go
  api/v1beta1/vpnamespace_types.go
  api/v1beta1/vpnamespace_types_test.go
  api/v1beta1/vpsavepoint_types.go
  api/v1beta1/vpsavepoint_types_test.go
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta2/groupversion_info.go
  api/v1beta2/suite_test.go
  api/v1beta2/vpcrondeployment_types.go
  api/v1beta2/vpdeployment_conversion_test.go
  api/v1beta2/vpdeployment_types.go
  api/v1beta2/vpdeploymenttarget_conversion_test.go
  api/v1beta2/vpdeploymenttarget_types.go
  api/v1beta2/zz_generated.deepcopy.go
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_vpcrondeployments.yaml
  config/crd/patches/webhook_in_vpcrondeployments.yaml
  controllers/suite_test.go
  controllers/vpcrondeployment_controller.go
  controllers/vpdeployment_controller.go
  hack/boilerplate.go.txt
  main.go
  pkg/annotations/common.go
  pkg/scheduling/clock.go
  pkg/vvp/appmanager-api/model_env_var.go
  pkg/vvp/native_converters/deployment_test.go
Due: build-config

refactor(vpcrondep): break reconcile loop into funcs
  controllers/vpcrondeployment_controller.go
  go.mod
  go.sum
Due: license-check

feat(vpcrondeployment): unit test, better types
  api/v1beta2/vpcrondeployment_types.go
  api/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/ververicaplatform.fintechstudios.com_vpcrondeployments.yaml
  controllers/suite_test.go
  controllers/vpcrondeployment_controller.go
  controllers/vpcrondeployment_controller_test.go
  controllers/vpnamespace_controller_test.go
Due: build-config

feat(pkg): add fixed clock for testing
  pkg/scheduling/clock.go
Due: none

feat: reorg main
  main.go
Due: none

remove gh action
  .github/workflows/gitlab-ci-trigger.yml
Due: none

Build again
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta2/zz_generated.deepcopy.go
  build.Dockerfile
Due: none

Update to go 1.17
  .tool-versions
  api/v1beta1/zz_generated.deepcopy.go
  api/v1beta2/zz_generated.deepcopy.go
  build.Dockerfile
  go.mod
  go.sum
Due: license-check

Misc. updates, bug fixes, small guide for updating vvp version
  README.md
  api/v1beta2/vpdeployment_conversion_test.go
  config/samples/ververicaplatform_v1beta1_vpdeployment.yaml
  config/samples/ververicaplatform_v1beta1_vpdeploymenttarget.yaml
  config/samples/ververicaplatform_v1beta1_vpnamespace.yaml
  config/samples/ververicaplatform_v1beta1_vpsavepoint.yaml
  config/samples/ververicaplatform_v1beta2_vpdeployment.yaml
  config/samples/ververicaplatform_v1beta2_vpdeploymenttarget.yaml
  controllers/vpdeployment_controller.go
  controllers/vpnamespace_controller_test.go
  controllers/vpsavepoint_controller.go
  docs/guides/README.md
  docs/guides/updating-to-new-vvp-support.md
  main.go
Due: build-config

DISABLE_WEBHOOK => DISABLE_WEBHOOKS
  main.go
Due: none

Add back AllowNonRestoredState
  README.md
  pkg/vvp/appmanager-api/model_deployment_restore_strategy.go
  pkg/vvp/native_converters/deployment_spec_test.go
Due: none

Add intellij run files
  .run/run w_o webhook + community.run.xml
  .run/run w_o webhook.run.xml
Due: none

Update readme
  README.md
Due: none

Migrate to `apiextensions.k8s.io/v1`
  charts/vp-k8s-operator-crds/templates/vpdeployments.yaml
  charts/vp-k8s-operator-crds/templates/vpdeploymenttargets.yaml
  charts/vp-k8s-operator-crds/templates/vpnamespaces.yaml
  charts/vp-k8s-operator-crds/templates/vpsavepoints.yaml
  charts/vp-k8s-operator/templates/certs.yaml
  config/certmanager/certificate.yaml
  config/crd/bases/ververicaplatform.fintechstudios.com_vpdeployments.yaml
  config/crd/bases/ververicaplatform.fintechstudios.com_vpdeploymenttargets.yaml
  config/crd/bases/ververicaplatform.fintechstudios.com_vpnamespaces.yaml
  config/crd/bases/ververicaplatform.fintechstudios.com_vpsavepoints.yaml
  config/crd/patches/cainjection_in_vpdeployments.yaml
  config/crd/patches/cainjection_in_vpdeploymenttargets.yaml
  config/crd/patches/cainjection_in_vpnamespaces.yaml
  config/crd/patches/cainjection_in_vpsavepoints.yaml
  config/crd/patches/webhook_in_vpdeployments.yaml
  config/crd/patches/webhook_in_vpdeploymenttargets.yaml
  config/crd/patches/webhook_in_vpnamespaces.yaml
  config/crd/patches/webhook_in_vpsavepoints.yaml
Due: build-config

Update Flink to 1.14
  config/samples/ververicaplatform_v1beta1_vpdeployment.yaml
  config/samples/ververicaplatform_v1beta2_vpdeployment.yaml
Due: build-config

Refactor Deployment docs a bit
  docs/guides/deployment.md
Due: none

Add possibility to set podAnnotations
  charts/vp-k8s-operator/Chart.yaml
  charts/vp-k8s-operator/README.md
  charts/vp-k8s-operator/templates/deployment.yaml
  charts/vp-k8s-operator/values.yaml
Due: none

Configuration of livenessProbe in Helm chart
  charts/vp-k8s-operator/Chart.yaml
  charts/vp-k8s-operator/README.md
  charts/vp-k8s-operator/templates/deployment.yaml
  charts/vp-k8s-operator/values.yaml
Due: none

Do not delete deployments in Ververica platform
  Makefile
  controllers/vpdeployment_controller.go
  pkg/vvp/native_converters/deployment.go
Due: none

Path conditions:
  build-config: any of: config/**/*
  license-check: any of: go.mod, go.sum
